<!DOCTYPE html>
<html lang="fr">
    <head>

{#  Encodage des caractères#}
            <meta charset="UTF-8">
{#  Titre de ma page #}
            <title>{% block title %}Ecole russe pour les enfants bilingues{% endblock %}</title>

{#     Description du site: max 200 caractères : sert au SEO#}
             <meta name="description" content="Ateliers creatifs En mode bilingue - Ecole russe pour les enfants bilingues.
              Une plateforme d’inscription d'élevés en ligne, à votre service.">
            {% block stylesheets %}
{#  Appel des fichiers CSS #}
                <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
                      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

                <link rel="stylesheet" href="https://bootswatch.com/4/lumen//bootstrap.min.css">
                <link rel="stylesheet" href="{{ asset('css/paginate.css') }}">
                <link rel="stylesheet" href="{{ asset('css/style.css') }}">

            {% endblock %}

    </head>
{#    Debut de balise Body#}
    <body>
{#     Haut de page#}
         <header class="navbg">
{#     Navigation#}
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <img class="Image_logo" src="{{ asset('images/EN_mode_bilingue_1.jpg') }}" data-hook="image-container" width="85px" height="65px" alt="logotype En mode bilingue">

                <div class="container-fluid">

                    <h3 class="titlesite"><strong>Plateforme d'inscription</strong></h3>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse flex justify-content-end" id="navbarSupportedContent">
            {#    Groupe de listes #}
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {#    Elements de listes #}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path ('accueilSite') }}"><strong>Accueil</strong></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-toggle="dropdown" aria-expanded="false"><strong>Activites</strong></a>
                                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                    <li><a class="dropdown-item" href="{{ path ('ateliers') }}">Ateliers créatifs</a></li>
                                    <li><a class="dropdown-item" href="{{ path ('apropos') }}">Sur nos activités</a></li>
                                    {% if app.user %}
                                    <li><a class="dropdown-item" href="{{ path ('add_eleve') }}">Inscription aux ateliers</a></li>
                                    {% endif %}
                                    <li><a class="dropdown-item" href="{{ path ('contact') }}">Contact</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                                    <strong>Nos Ateliers</strong>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                    <li><a class="dropdown-item" href="{{ path ('showtypecours', { type: 'Atelier conte'}) }}">Plateforme d'inscription</a></li>

                                </ul>
                            </li>

                             {% if not app.user %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{path ('registuser') }}"><strong>Créer un compte</strong></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path ('app_login') }}"><strong>Connexion</strong></a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path ('logout') }}"><strong>Deconnexion</strong></a>
                                </li>
                            {% endif %}

                            <li class="nav-item">
                                <a class="nav-link" href="{{ path ('contact') }}"><strong>Nous contacter</strong></a>
                            </li>

                           {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path ('adminpage') }}"><strong>Gestion</strong></a>
                            </li>

                            {% elseif is_granted('ROLE_REGIST') %}

                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path ('add_cours') }}"><strong>Ajouter un Atelier</strong></a></li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path ('allprof') }}"><strong>Gestion de Prof</strong></a>
                                    </li>

                            {% endif %}
                        </ul>

                    </div>
                </div>
            </nav>

        </header>

        <main>
            <div class="container pt-md-4 mt-4 h-100" style="min-height: 75vh">

        {% block body %}{% endblock %}
            </div>
        </main>

        <footer class="pt-4 mt-4 pt-md-4 border-top">
            <div class="row">
                <div class="col-12 col-md">
                    <img class="mb-2" src="" alt="" style="width: 50%;">
                    <small class="d-block mb-3 ml-5 text-muted">&copy; 2021 Plateforme d'inscription</small>
                    <small class="d-block mb-3 ml-5 text-muted">Développeuse Platonova Irina</small>
                </div>
                <div class="col-6 col-md ">
                    <h5>Activites</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted colorText" href="{{ path ('ateliers') }}">Ateliers creatifs</a></li>
                        <li><a class="text-muted" href="{{ path ('add_eleve') }}">Inscription aux ateliers</a></li>
                        <li><a class="text-muted colorText" href="href={{ path ('apropos') }}">Sur nos activités</a></li>

                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Infos pratiques : </h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="{{ path ('contact') }}">Plan d'accès</a></li>
                        <li><a class="text-muted" href="{{ path ('contact') }}">Contacts</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <ul class="menu_reseau">
                        <li><a class="text-muted" href="https://www.enmodebilingue.com/contacterenmodebilingue">Le site russe version</a></li>

                        <li class="picto_f"><a href="https://www.facebook.com/vincennes.russe" target="_blank" title="Facebook">
                                <img src="{{ asset('images/footer/facebook-letter-logo.png') }}" style="width: 6%" alt="Facebook"/></a>    Facebook</li>

                        <li class="picto_i"><a href=https://www.instagram.com/enmodebilingue/ target="_blank" title="Instagram">
                                <img src="{{ asset('images/footer/instagram-noir.png') }}" style="width: 6%;" alt="Instagram"/></a>    Instagram</li>
                    </ul>
                </div>

            </div>
        </footer>



        {% block javascripts %}
            {#  Appel au fichier jquery #}

            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                    crossorigin="anonymous"></script>
            {#  Appel au fichier Java Script #}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
                    crossorigin="anonymous"></script>
        {% endblock %}

    </body>
    {#     Fin de la balise Body#}

</html>
