<!DOCTYPE html>
<html lang="fr">
    <head>

        <meta charset="UTF-8">
        <title>{% block title %}Ecole russe pour les enfants bilingues{% endblock %}</title>
        <meta name="description" content="Ateliers creatifs En mode bilingue - Ecole russe pour les enfants bilingues.
              Une plateforme d’inscription d'élevés en ligne, à votre service.">
        {% block stylesheets %}

            <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">

            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
                  integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">

        {% endblock %}
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <img class="Image_logo" src="{{ asset('images/EN_mode_bilingue_1.jpg') }}" data-hook="image-container" width="85px" height="65px" alt="logotype En mode bilingue">

                <div class="container-fluid">

                    {#  <a class="navbar-brand" href="#">Ateliers creatives En mode bilingue</a>#}
                    <h3 style="color: midnightblue" >Plateforme d'inscription</h3>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
{#                    <a class="nav-link" href="{{ path ('accueilSite') }}"><strong>Accueil</strong></a>#}

                    <div class="collapse navbar-collapse flex justify-content-end" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="font-size:18px">

                                    <li><a class="nav-link" href="{{ path('tabateliers') }}"><strong>Gestion des Ateliers</strong></a></li>
{#                                    <li><a class="nav-link" href="{{ path ('add_cours') }}"><strong>Ajouter un Atelier</strong></a></li>#}
                            <li class="nav-item">
                                <a class="nav-link " href="{{ path('admin_allusers') }}"><strong>Gestion des Utilisateurs</strong></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="{{ path('eleves') }}"><strong>Gestion des Eleves</strong></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="{{ path('allprof') }}"><strong>Gestion des Professeurs</strong></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"  href="{{ path ('logout') }}"><strong>Deconnexion</strong></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('accueilSite') }}"><strong>FrontEnd</strong></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div class="container h-100" style="min-height: 75vh">
        <main>
                <div class="container">

                    {% block body %}{% endblock %}

                </div>
        </main>
        </div>
    </body>

    <footer class="pt-4 mt-4 pt-md-4 border-top bgfooter" style="background-color: gainsboro">
        <div class="row">
            <div class="col-12 col-md">
                <img class="mb-2" src="" alt="" style="width: 50%;">
                <small class="d-block mb-3 ml-5 text-muted">&copy; 2021 Plateforme d'inscription</small>
                <small class="d-block mb-3 ml-5 text-muted">Développeuse Platonova Irina</small>
            </div>
            <div class="col-6 col-md ">
                <h5>Activites</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted colorText" href="{{ path ('ateliers') }}">Ateliers creatifs</a></li>
                    <li><a class="text-muted" href="{{ path ('add_eleve') }}">Inscription aux ateliers</a></li>
                    <li><a class="text-muted colorText" href="href={{ path ('apropos') }}">Sur nos activités</a></li>
                </ul>
            </div>

            <div class="col-6 col-md">
                <h5>Infos pratiques : </h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="{{ path ('contact') }}">Plan d'accès</a></li>
                    <li><a class="text-muted" href="{{ path ('contact') }}">Contacts</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <ul class="menu_reseau">
                    <li><a class="text-muted" href="https://www.enmodebilingue.com/contacterenmodebilingue">Le site russe version</a></li>

                    <li class="picto_f"><a href="https://www.facebook.com/vincennes.russe" target="_blank" title="Facebook">
                            <img src="{{ asset('images/footer/facebook-letter-logo.png') }}" style="width: 8%" alt="Facebook"/></a>    Facebook</li>

                    <li class="picto_i"><a href=https://www.instagram.com/enmodebilingue/ target="_blank" title="Instagram">
                            <img src="{{ asset('images/footer/instagram-noir.png') }}" style="width: 8%; color: dimgray" alt="Instagram"/></a>    Instagram</li>
                </ul>
            </div>

        </div>
    </footer>

    <div>

    </div>




</html>



